<p>Pracownicy</p>
<div class="row mt-10">
    <div class="col-xs-12">
        <button type="button" class="btn btn-danger btn-sm pull-right" ng-click="openAddEmployeeModal()" name="button">Dodaj pracownika</button>
    </div>
</div>
<div class="row mt-20">
    <div class="col-xs-12">
        <table class="table table-striped">
            <tr>
                <th>Imię i nazwisko</th>
                <th style="max-width: 150px;">Stanowiska</th>
                <th>Pesel</th>
                <th>Data ur.</th>
                <th>Akcje</th>
            </tr>

            <tr ng-repeat="item in employees track by $index">
                <td>{{item.employeeName}}</td>
                <td class="positions">
                    <span class="position-name" ng-repeat="position in item.employeePositions">{{position.name}}</span>
                </td>
                <td>{{item.employeePersonalID}}</td>
                <td>{{item.birthDate}}</td>
                <td>
                    <i class="fa fa-trash" ng-click="deleteEmployee(item)"></i>
                </td>
            </tr>

        </table>
    </div>
</div>
