<p>Płatności</p>

<div class="container-fluid">
    <div class="row event-row" >
        <div class="col-xs-12">

            <div class="well">
                <strong>Nazwa eventu</strong> ==> od / do / czy zpłacono
            </div>

            <table class="table">
                <tr>
                    <th>Imię i nzawisko</th>
                    <th>Stanowisko</th>
                    <th>Godziny</th>
                    <th>Należność</th>
                    <th>czy zapł.</th>
                </tr>
                <tr>
                    <td>Mateusz</td>
                    <td>Manager</td>
                    <td>12</td>
                    <td>1200</td>
                    <td>true</td>
                </tr>
            </table>

        </div>
    </div>
    <div class="row event-row" >
        <div class="col-xs-12">

            <div class="well">********************************************************************************************
                <strong>Nazwa eventu</strong> ==> 1 / do / czy zpłacono
            </div>

            <table class="table">
                <tr>
                    <th>Imię i nzawisko</th>
                    <th>Stanowisko</th>
                    <th>Godziny</th>
                    <th>Należność</th>
                    <th>czy zapł.</th>
                </tr>
                <tr>
                    <td>Mateusz</td>
                    <td>Manager</td>
                    <td>12</td>
                    <td>1200</td>
                    <td>true</td>
                </tr>
            </table>

        </div>
    </div>
</div>
