<p>Płatności</p>

<div class="container-fluid">
    <div class="row event-row" ng-repeat="event in events">
        <div class="col-xs-12">

            <div class="well">
                <div class="row">
                    <div class="col-xs-3">
                        <strong>{{event.eventName}}</strong>
                    </div>
                    <div class="col-xs-3 col-xs-offset-1">
                        {{event.eventStartDate}}
                    </div>
                    <div class="col-xs-3">
                        {{event.eventEndDate}}
                    </div>
                    <div class="col-xs-2">
                        {{event.isPaid}}
                    </div>
                </div>
            </div>

            <table class="table">
                <tr>
                    <th>Imię i nzawisko</th>
                    <th>Stanowisko</th>
                    <th>Godziny</th>
                    <th>Należność</th>
                    <th>czy zapł.</th>
                </tr>
                <tr ng-repeat="booking in bookings | filter : event.$id">
                    <td>{{booking.employee.employeeName}}</td>
                    <td>{{booking.employeePosition.name}}</td>
                    <td>{{booking.workHours}}</td>
                    <td>{{booking.payAmount}}</td>
                    <td>
                        <i class="fa fa-check-circle" ng-click="payForBooking(booking)" ng-class="{'text-success': booking.isPaid}" style="font-size: 16px;"></i>
                        <i class="fa fa-times-circle" ng-click="deletePayForBooking(booking)" style="font-size: 16px;"></i>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>
