<div class="row mt-20">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Logowanie
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <p>Aby <span class="text-success">zalogować się</span> do aplikacji kliknij poniższy przycisk.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <button type="button" name="button" ng-click="registerViaGoogle()" class="btn btn-danger">Zaloguj przez Google</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
