<div class="row">
	<div class="col-xs-6">
		<h4>Lokalizacje</h4>
	</div>
    <div class="col-xs-6 text-right">
        <button type="button" class="btn btn-success btn-sm" ng-click="openAddVenueModal()" name="button">
			<i class="fa fa-plus-circle mr-5"></i> Dodaj lokalizację
		</button>
    </div>
</div>
<div class="row mt-20" ng-if="venues.length">
    <div class="col-xs-12">
        <table class="table table-striped">
            <tr>
                <th>Nazwa lokalizacji</th>
                <th>Adres</th>
                <th>Numer telefonu</th>
                <th></th>
            </tr>

            <tr ng-repeat="item in venues track by $index">
                <td>{{item.venueName}}</td>
                <td>{{item.venueAddress}}</td>
                <td>{{item.venuePhoneNumber}}</td>
                <td class="text-right">
					<button type="button" class="btn btn-danger" ng-click="deleteVenue(item)">
						<i class="fa fa-trash"></i>
					</button>
                </td>
            </tr>

        </table>
    </div>
</div>
<div class="row" ng-if="!venues.length">
    <div class="col-xs-12">
        <div class="alert alert-info" role="alert">
            <strong>Info!</strong> Brak lokalizacji. Dodaj jakąś.
        </div>
    </div>
</div>
