@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Roboto:300,400,500,700&subset=latin-ext");
.hidden {
  display: none; }

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important; }

.mt-10 {
  margin-top: 10px !important; }

.mt-20 {
  margin-top: 20px !important; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #333; }

.positions .position-name:after {
  content: ", "; }

.positions .position-name:last-child:after {
  content: ""; }

.user-name {
  line-height: 50px;
  padding-right: 10px; }
