<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close modal-close"><span class="mdi mdi-close"></span></button>
                <h3 class="modal-title">Zapisz pracowników na wydarzenie</h3>
            </div>
            <div class="modal-body">

                <div class="row" ng-repeat="need in event.eventNeeds">
                    <div class="col-xs-12">
                        <h5>{{need.positionName}} <small>potrzeba: {{need.positionAmount}} /
						zapisanych: {{need.bookedEmployees}} /
						pozostało: {{need.positionAmount - need.bookedEmployees}}</small> </h5>

                        <div class="row mt-10"
							ng-hide="employee.alreadyBooked && employee.bookedOn != need.position"
							ng-repeat="employee in employees | filter : need.position">
                            <div class="col-xs-8 pt-5">
                                {{employee.employeeName}}
                            </div>
                            <div class="col-xs-4 text-right">
                                <button type="button"
                                    class="btn btn-success btn-sm"
                                    name="button"
                                    ng-show="!employee.alreadyBooked"
                                    ng-disabled="need.positionAmount == need.bookedEmployees"
                                    ng-click="bookEmployee(need, employee)">
									<i class="fa fa-check mr-5"></i> Rezerwuj
								</button>

                                <button ng-show="employee.alreadyBooked" ng-click="unbook(need, employee)" type="button" class="btn btn-danger btn-sm" name="button">
                                    <i class="fa fa-ban mr-5"></i> Anuluj rezerwację
                                </button>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
