@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Roboto:300,400,500,700&subset=latin-ext');

@import "variables";
@import "helpers";

body {
    font-family: $main-font;
    font-size: 13px;
    font-weight: 400;
    color: $color-main-font-color;
}

@import "components/all";
@import "pages/all";

.user-name {
    line-height: 50px;
    padding-right: 10px;
}

.modal-xl {
    width: 80vw;
}
